@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root {
    --red: hsl(0, 100%, 68%);
    --very-dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Barlow', sans-serif;
    height: 100vh;
}

h1, h2, h3, a {
    font-family: 'Barlow Condensed', sans-serif;
} 
main, nav {
    display: flex;
    justify-content: space-between;
}
nav {
    width: 78%;
    margin: 60px auto 0;
    align-items: center;
}
.toggle-icon {
    display: none;
}
li {
    display: inline-block;
    list-style-type: none;
}
li a {
    margin-left: 40px;
    font-weight: 700;
    color: var(--very-dark-blue);
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 15px;
}
.unique a {
    margin-left: 80px;
    list-style-type: unset;
    color: var(--grayish-blue);
    position: relative;
}
.unique a::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--grayish-blue);
    z-index: 1;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;
}
main {
    margin: 120px 0 0 11%;
}
.hero {
    width: 53.125%;
    overflow: hidden;
}
.hero img {
    display: block;
    height: 464px;
    width: auto;
}
.hero-text {
    justify-self: center;
    margin-top: 30px;
    width: 40%;
}
h2, h3 {
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: 4px;
    font-weight: 400;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
    white-space: nowrap;
}
h2 span {
    background-color: var(--very-dark-blue);
    display: inline-block;
    padding: 7px 10px;
    border-radius: 14px;
    margin-right: 16px;
    color: var(--light-grayish-blue);
    font-weight: 700;
}
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 65px;
    margin: 29px 0 45px 0;
    color: var(--very-dark-blue);
}

p {
    color: var(--dark-grayish-blue);
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    width: 70%;
    line-height: 150%;
}

button {
    color: var(--light-grayish-blue);
    background-color: var(--red);
    font-size: 18px;
    padding: 18px 34px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    margin-right: 25px;
}
button:hover {
    opacity: 0.8;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    max-width: 700px;
    height: 55%;
    max-height: 425px;
    background-color: var(--light-grayish-blue);
    border-bottom-left-radius: 50px;
    z-index: -1;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    margin: 10% auto 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1150px) {
    main {
        margin-top: 100px;
    }
    .hero-text {
        width: 46%;
    }
    h3 {
        letter-spacing: 3px;
    }
    button {
        margin-right: 15px;
    }
}
@media screen and (max-width: 1024px) {
    nav {
        width: 90%;
        margin: 60px auto 0;
    }
    main {
        margin: 80px 0 0 5%;
    }
    nav {
        margin-top: 40px;
    }
}

@media screen and (max-width: 910px){

    h1 {
        font-size: 43px;
    }
    .hero img{
        height: 400px;
    }
}

@media screen and (max-width: 760px) {
    nav{
        width: 84%;
    }
    main {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .hero {
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .hero img {
        margin: 0 auto;
    }
    .hero-text {
        margin:90px 0 0 8%;
        order: 2;
        width: unset;
        max-width: 100%;
    }
    h1 {
        font-size: 45px;
        margin: 24px 0 28px 0;
    }
    h2 {
        letter-spacing: 3px;
    }
    p {
        margin-bottom: 32px;
    }
    button {
        padding: 15px 25px;
    }

}
@media screen and (max-width: 650px) {
    main {
        margin-top: 60px;
    }
    .toggle-icon {
        display: inline-block;
    }
    .close-icon {
        display: none;
    }
    .hero img {
        margin: 0 0;
    }
    ul {
        position: absolute;
        top: 80px;
        left: 8%;
        width: 84%;
        margin: 0 auto;
        text-align: center;
        background-color: #fff;
        margin: 0;
        padding: 0;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.6);
        opacity: 0;
        height: 0;
        pointer-events: none;
        transition: all 0.4s;
    }
    li {
        display: block;
        padding: 15px 0;
    }
    li a, .unique a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        display: block;
        width: 100%;
    }
    .unique a::before {
        width: 90%;
        height: 1px;
        top: -15px;
        left: 5%;
    }
    .show-nav {
        height: 200px;
        opacity: 1;
        z-index: 2;
        pointer-events: all;
    }
    .show {
        display: inline-block;
    }
    .hide {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .hero img {
        height:  240px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 18px;
    }
    h3 {
        font-size: 14px;
        letter-spacing: 1px;
        white-space: unset;
    }
    button {
        font-size: 14px;
        padding: 15px 25px;
        margin-right: 20px;
    }
}